*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}

a,p{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#categorias{
    width: 20%;
    height: 100%;
    float: left;  
}

#catego{
        
    width: 80%;
    height: 95%;
    margin: auto;
    background-color: #FCB7AF;
    margin-top: 5%;
}

.select-categorias{
    width: 100%;
    height: 12.5%;
    float: left;
    text-align: center;
}

header{
   
    width: 80%;
    height: 10vh;
    float: left;
    margin-top: 20px;
    
}

#barra-grande{
    width: 87%;
    height: 100%;
    float: left;
    background-color: white;
    border: 0.2px solid black;
}



#logo{
    width: 20%;
    height: 100%;
    float: left;        
    text-align: center;
    
}

#img-logo{
    margin-top: 6%;
    width: 80%;
    height: 70%;
    object-fit: contain;
}

#barra{
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
}

#barra-bu{
    margin-top: 2%;
    width: 90%;
    height: 60%;
}

#bus{
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;       
}

 #boton-bus{
    width: 70%;
    height: 50%;
    margin-top: 15%;
    border-radius: 15px;
    background-color: black;
    color: white;
}

#usuario{
    width: 10%;
    height: 100%;
    float: left;        
    text-align: center;
} 

#user-img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-top: 13px;                  
}

main{
    width: 80%;
    height: 90vh;
    float: left;
}

#contenido{
    width: 92%;
    min-height: 100vh;
    float: left;            
    background-color: #DBDCE6;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}

.titulo{
    width: 55%;
    min-height: 7vh;
    background-color: #E6A3AB;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    border-radius: 15px;
}

.ima_y_ingre{
    width: 50%;
    min-height: 110vh;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    flex: auto;

}


.imagen{
    width: 100%;
    min-height: 50vh;
    background-color: #F4EBFF;
    margin-bottom: 1%;
    margin-top: 15px;
    float: top 60%;
    float: left 33%;
    border-radius: 15px;
}

.ingredientes{
    width: 100%;
    min-height: 50vh;
    background-color: #FAC9B2;
    margin-top: 20px;
    margin-bottom: 1%;
    float: left 33%;
    border-radius: 15px;
}

.procedimiento{
    width: 40%;
    min-height: 103vh;
    background-color: #C6B5F2;
    margin-bottom: 1%;
    margin-top: 30px;
    margin-right: 5%;
    float: top 10%;
    float: right;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

